#home_h1 {
    
    padding-right: 10px;
    margin-left: 50px;
    font-style: oblique;}
   
.logo{
width:150px;
height:30px;
       
}

h4{
    color: #2F5597;
}

h3{
    color:#2F5597;
}

#compare{
    color:#2F5597;
    margin-top: 25px;

}

.navbg{
    background-color: #f9f9f9;
}

.navtxt{
    color: #2F5597;
}


.body_all{
    background-color:lightsteelblue;}

.desc{
    margin-top: 40px;
   
}

.img_sml{
    width: 250px;
    height: 200px;
   
     
}

.img_viz_hm{
    width: 150px;
   
}

.img_viz{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.fig_desc{
    font-size: 10px;
    text-align: center;

}
.hm_viz{
    width: 30%;
}





@media (max-width: 576px) {

    .navbg{
        background-color: #2F5597; 
       
          }
        
    .collapse navbar-collapse li{
        padding: 2px;
      }

    .logo{
        width:100px;
        height: 30px;
    }
  
  
    #home_h1{
        font-size: 24px;
    }


    h3{
        font-size: 24px;
    }

    .img_comp{
        width: 100%;
        height: auto;
        object-fit: cover;
    }

 

}


      
    
    
  

