#home_h1 {
    
    padding-right: 10px;
    margin-left: 50px;
    font-style: oblique;}
   
.logo{
width:150px;
height:30px;
       
}

h4{
    color: #2F5597;
}

h3{
    color:#2F5597;
}

#compare{
    color:#2F5597;
    margin-top: 25px;

}


.body_all{
    background-color:lightsteelblue;}

.desc{
    margin-top: 40px;
   
}

.img_sml{
    width: 250px;
    height: 200px;
   
     
}

.img_viz_hm{
    width: 150px;
   
}

.img_viz{
    width: 100%;
}

.fig_desc{
    font-size: 10px;
    text-align: center;

}
.hm_viz{
    width: 30%;
   

}


@media (max-width: 480px) {


    .navbar li {
      padding: 5px;
    }

    .logo{
        width:100px;
        height: 30px;
    }
  
  
    #home_h1{
        font-size: 24px;
    }

    .hm_viz{
        width:80%;
        margin:auto;
    }

    h3{
        font-size: 24px;
    }

    
    
  

}